.env
*.dae
*.kml
WEA*.kmz
testturm*.kmz

examples/tmp/*
*checkpoint.ipynb
# ignore alle .pyc files
*.pyc
# ignore the __pycache__ directories
__pycache__/
# ignore the .idea directories
.idea/
# ignore the .vscode directories
.vscode/
# ignore the .ipynb_checkpoints directories
.ipynb_checkpoints/
# ignore the ipython notebook checkpoints
.ipynb_checkpoints

collada_wt.egg-info/*
build/*
dist/*

papers/*
tracks/*
