# Core dependencies
numpy
pandas

# KML handling
simplekml

# 3D model handling
pycollada
trimesh

# Geo spatial handling
geopandas
shapely
fiona

# Jupyter kernel
ipykernel

# Environment variables
python-dotenv

# Optional: for arrow/parquet support
pyarrow
